<footer class="footer p-40 px-sm-12 py-lg-48">
    <div
        class="container-xxl d-flex flex-column flex-sm-row justify-content-sm-between  align-items-start align-items-sm-center">
        <div class="brandBox">
            <a class="fs-32 font-family-sp text-dark" href="#">ALPHABOX+</a>
            <p class="fw-bold d-none d-sm-block">Copyright © 2023 Hexschool.</p>
        </div>
        <div class="picBox">
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
                <mask id="mask0_279_5149" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="80"
                    height="80">
                    <rect width="80" height="80" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_279_5149)">
                    <path
                        d="M34.1666 70V50.1667L17 60.0833L11.1666 50L28.3333 40L11.1666 30.0833L17 20L34.1666 29.9167V10H45.8333V29.9167L63 20L68.8333 30.0833L51.6666 40L68.8333 50L63 60.0833L45.8333 50.1667V70H34.1666Z"
                        fill="black" />
                </g>
            </svg>
        </div>
        <section class="linkGroup d-flex flex-column flex-sm-row flex-sm-wrap justify-content-sm-between fw-bold">
            <a class="me-sm-12 me-lg-24 mb-8 mb-lg-0" href="#">關於我們</a>
            <a class="me-lg-24 mb-8 mb-lg-0" href="#">最新消息</a>
            <a class="me-sm-12 me-lg-24 mb-8 mb-lg-0" href="#">FAQ</a>
            <a class="mb-8 mb-lg-0" href="#">聯絡我們</a>
            <p class="fw-bold d-sm-none">Copyright © 2023 Hexschool.</p>
        </section>

    </div>
</footer>