<header>
    <div class="container-xxl">
        <nav class="navbar navbar-expand-lg align-items-center py-16 py-lg-20">
            <a href="./index.html" class="logo d-lg-none">
                <h1 class="fs-24 fs-lg-32 font-family-sp">ALPHABOX+</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse pt-24 pb-32 py-lg-0" id="navbarNavAltMarkup">
                <div class="navbar-nav justify-content-between align-items-center">
                    <a href="./index.html" class="logo d-none d-lg-inline-block">
                        <h1 class="fs-24 fs-lg-32 font-family-sp">ALPHABOX+</h1>
                    </a>
                    <section class="mainFunction d-flex flex-column flex-lg-row align-items-center">
                        <a class="nav-link py-8 py-lg-0" aria-current="page" href="#">產品</a>
                        <a class="nav-link  py-8 py-lg-0" href="#">關於我們</a>
                        <a class="nav-link  py-8 py-lg-0" href="./news.html">最新消息</a>
                        <a class="nav-link  py-8 py-lg-0" href="#">FAQ</a>
                        <a class="nav-link  py-8 py-lg-0" href="#">聯絡我們</a>
                    </section>
                    <section class="subFunction d-flex flex-column flex-lg-row align-items-center">
                        <a class="nav-link  py-8 py-lg-0" href="#">註冊</a>
                        <a class="nav-link  py-8 py-lg-0" href="#">登入</a>
                        <button class="px-16 py-8 btn btn-white border border-0 rounded-1 d-flex">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24"
                                fill="none">
                                <mask id="mask0_444_2323" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                                    width="25" height="24">
                                    <rect x="0.5" width="24" height="24" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_444_2323)">
                                    <path
                                        d="M12.5 14C11.95 14 11.4792 13.8042 11.0875 13.4125C10.6958 13.0208 10.5 12.55 10.5 12C10.5 11.45 10.6958 10.9792 11.0875 10.5875C11.4792 10.1958 11.95 10 12.5 10C13.05 10 13.5208 10.1958 13.9125 10.5875C14.3042 10.9792 14.5 11.45 14.5 12C14.5 12.55 14.3042 13.0208 13.9125 13.4125C13.5208 13.8042 13.05 14 12.5 14ZM11.5 8V3H13.5V8H11.5ZM11.5 21V16H13.5V21H11.5ZM16.5 13V11H21.5V13H16.5ZM3.5 13V11H8.5V13H3.5Z"
                                        fill="black" />
                                </g>
                            </svg><span class="ms-4">訂閱</span>
                        </button>
                    </section>

                </div>
            </div>
        </nav>
    </div>
</header>