.imgBox {
    width: fit-content;
    height: auto;
    overflow: hidden;

    img,
    source,
    svg {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        transition: transform 0.6s ease-in;
    }

    &.hover:hover {

        img,
        source {
            transform: scale(1.2) translateY(-3px);
        }
    }
}

.ellipsis-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}