.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fs-32 {
    font-size: 32px;
}

.fs-40 {
    font-size: 40px;
}

.fs-48 {
    font-size: 48px;
}

.fs-64 {
    font-size: 64px;
}

.fs-80 {
    font-size: 80px;
}

.fs-96 {
    font-size: 96px;
}

.fs-sm-20 {
    @include media-breakpoint-up(sm) {
        font-size: 20px;
    }
}

.fs-sm-24 {
    @include media-breakpoint-up(sm) {
        font-size: 24px;
    }
}

.fs-sm-32 {
    @include media-breakpoint-up(sm) {
        font-size: 32px;
    }
}

.fs-sm-40 {
    @include media-breakpoint-up(sm) {
        font-size: 40px;
    }
}

.fs-sm-48 {
    @include media-breakpoint-up(sm) {
        font-size: 48px;
    }
}

.fs-sm-64 {
    @include media-breakpoint-up(sm) {
        font-size: 64px;
    }
}

.fs-sm-96 {
    @include media-breakpoint-up(sm) {
        font-size: 96px;
    }
}

.fs-lg-20 {
    @include media-breakpoint-up(lg) {
        font-size: 20px;
    }
}

.fs-lg-24 {
    @include media-breakpoint-up(lg) {
        font-size: 24px;
    }
}

.fs-lg-32 {
    @include media-breakpoint-up(lg) {
        font-size: 32px;
    }
}

.fs-lg-40 {
    @include media-breakpoint-up(lg) {
        font-size: 40px;
    }
}

.fs-lg-48 {
    @include media-breakpoint-up(lg) {
        font-size: 48px;
    }
}

.fs-lg-64 {
    @include media-breakpoint-up(lg) {
        font-size: 64px;
    }
}

.fs-lg-96 {
    @include media-breakpoint-up(lg) {
        font-size: 96px;
    }
}

.font-family-sp {
    font-family: $font-family-title;
}


.letter-spacing-sm {
    letter-spacing: 20px;
}